body {
  margin: 0;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#053245
  ;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Paletas de cores do sistema
  Background
  #053245
  #AF5147
  #D8D8A6
  #085475
  #A2DFCE
  #195E4B
  #19AD8D

  Button 
    #1939AD
    #80132A
*/